.slider{
    height: 600px;
    width: 500px;
    float: right;
    position: relative;
    margin-right: 10%;
}

.pic1{
    background-image: url(./images/Classic1.jpg);
    height: 100%;
    width: 100%;
}
.pic2{
    background-image: url(./images/classic2.jpg);
    height: 100%;
    width: 100%;
}
.pic3{
    background-image: url(./images/Classic3.jpg);
    height: 100%;
    width: 100%;
}
.pic4{
    background-image: url(./images/Infinity.jpg);
    height: 100%;
    width: 100%;
}
.pic5{
    background-image: url(./images/Infinity_Glass.jpg);
    height: 100%;
    width: 100%;
}
.pic6{
    background-image: url(./images/Infinity_walnut.jpg);
    height: 100%;
    width: 100%;
}
.pic7{
    background-image: url(./images/Palermo.jpg);
    height: 100%;
    width: 100%;
}
.pic8{
    background-image: url(./images/Shaker_style.jpg);
    height: 100%;
    width: 100%;
}


