.carousel{
    width: 40%;
}
img{
    height: 20%;
}
.carousel-control-next-icon{
    background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
}
.carousel-indicators{
    background-color: black;
    opacity: 30%;
}